@font-face {
    font-family: moqo;
    src: url(/fonts/Heading-Now-Variable.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1491002052546-bf38f186af56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1208&q=80);

    padding: 0 60px;
}
#nav {
    height: 80px;
    width: 100%;
    backdrop-filter: blur(3px);
    border-bottom: 2px solid #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav h1 {
    color: #4aab6b;
}
#nav h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: #4aab6b;
}
#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    color: #4aab6b;
}
#nav-part2 {
    display: flex;
    gap: 20px;
}

#container {
    display: flex;
    height: 80%;
    width: 100%;
}

#left {
    width: 50%;
    height: 100%;
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    padding: 155px 96px;
    line-height: 60px;
}

#left img {
    height: 42px;
    width: 46px;
    border-radius: 50%;
}

.head-wee {
    color: #4aab6b;
}
#right {
    width: 50%;
    height: 100%;
    backdrop-filter: blur(5px);
    padding: 93px 22px;
}

#right img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 9px;
}

#page2 {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1604537466158-719b1972feb8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80);
    background-size: cover;
    padding: 30px;
    overflow: hidden;
}
#page2 .page2-head {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
}

.box-container {
    height: 100%;
    backdrop-filter: blur(4px);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    /* flex-wrap: nowrap; */
    align-items: center;
    color: #1c2c39;
    position: absolute;
}

#page2 .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;

    backdrop-filter: blur(5px);
    text-align: center;
    padding: 30px;
}

.box:hover {
    scale: 1.3;
    z-index: 1;
}

#box1 {
    background-image: url(https://images.unsplash.com/photo-1570654621852-9dd25b76b38d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-position: 70%;
    background-size: cover;
}
#box2 {
    background-image: url(https://images.unsplash.com/photo-1510798831971-661eb04b3739?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fHdpbnRlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: 70%;
    background-size: cover;
}
#box3 {
    background-image: url(https://images.unsplash.com/photo-1519552928909-67ca7aef9265?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80);
    background-position: 70%;
    background-size: cover;
}

#box4 {
    background-image: url(https://images.unsplash.com/photo-1553525553-f373087438be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-position: 70%;
    background-size: cover;
}
#box5 {
    background-image: url(https://images.unsplash.com/photo-1516567082842-86ebd8d4b43b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1242&q=80);
    background-position: 70%;
    background-size: cover;
}
#box6 {
    background-image: url(https://images.unsplash.com/photo-1606080229480-b33e8a317a4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80);
    background-position: 70%;
    background-size: cover;
}
#box7 {
    background-image: url(https://images.unsplash.com/photo-1485870458886-d489883a6751?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-position: 70%;
    background-size: cover;
}
#box8 {
    background-image: url(https://images.unsplash.com/photo-1451551057130-9b723f0fa5a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=449&q=80);
    background-position: 70%;
    background-size: cover;
}
#box9 {
    background-image: url(https://images.unsplash.com/photo-1516683179282-b7f603ab6eba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80);
    background-position: 70%;
    background-size: cover;
}
#box10 {
    background-position: 70%;
    background-size: cover;
}

#page2 h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

#page2 p {
    font-size: 20px;
}

#page4 {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1520262454473-a1a82276a574?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    overflow: hidden;
}

#page4 h1 {
    backdrop-filter: blur(2px);
    font-size: 25vw;
    text-transform: uppercase;
    font-family: moqo;
    white-space: nowrap;
    font-stretch: 260%;
    font-weight: 999;
}

#page5 {
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#page5 .header1 {
    /* display: flex;
    justify-content: center; */
    padding: 20px;
    font-size: 40px;
    color: #ffff;
}

.form-card {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    color: #ffff;
}

form {
    width: 100%;
    top: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 29px;
}

form input {
    width: 54%;
    height: 9%;
    background-color: transparent;

    border-bottom: 2px solid #ffff;
    border-top: none;
    border-left: none;
    border-right: none;
    text-transform: uppercase;
    color: white !important;
}

input:focus {
    outline: none;
    font-size: 20px;
}

button {
    width: 11vw;
    height: 6vh;
}
